.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.error {
    color: var(--light-red);
}
