.profileCard {
    display: flex;
    gap: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
