.loginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.loginTitle {
    align-self: center;
}

.loginInput {
    margin-top: 20px;
}

.loginBtn {
    margin-top: 25px;
    align-self: center;
}
