.input {
    display: flex;
    flex-direction: column;
    min-width: 350px;

    input {
        width: 100%;
        height: var(--font-m);
        padding: 14px 16px 0 10px;
        outline: 0;
        border: 1px solid;
        border-radius: 3px;
        font-size: 16px;
    }

    label {
        font-size: 16px;
        padding: 0 12px;
        color: var(--inverted-primary-color);
        pointer-events: none;
        position: absolute;
        transform: translate(0, 8px) scale(1);
        transform-origin: top left;
        transition: all 0.2s ease-out;
    }
}

.input:focus-within label {
    transform: translate(0, 2px) scale(0.75);
}

.input .active {
    transform: translate(0, 2px) scale(0.75);
}
