.app_dark_theme {
    --bg-color: #333;
    --inverted-bg-color: #1f1f1f;
    --primary-color: #ddd;
    --secondary-color: #868686;
    --inverted-primary-color: #868686;
    --inverted-secondary-color: #ddd;

    // skeleton
    --skeleton-shadow: #a4a4a4;
    --skeleton-color: #6c6c6c;
    --code-bg-color: #505050;
}
