.app.dark {
    --bg-color: #333;
    --inverted-bg-color: #1f1f1f;
    --primary-color: #ddd;
    --secondary-color: #868686;
    --inverted-primary-color: #868686;
    --inverted-secondary-color: #ddd;
}
