.app.light {
    --bg-color: #dedddd;
    --inverted-bg-color: #f1f0f0;
    --primary-color: #0c0c0c;
    --secondary-color: #575757;
    --inverted-primary-color: #575757;
    --inverted-secondary-color: #0c0c0c;
}
