.app.light {
    --bg-color: #e5e5e5;
    --inverted-bg-color: #08283b;
    --primary-color: #1f1e1e;
    --secondary-color: #444141;
    --inverted-primary-color: #8e9ea2;
    --inverted-secondary-color: #e7f1fa;
}
