.app_purple_theme {
    --bg-color: #f8f4fb;
    --inverted-bg-color: #500c73;
    --primary-color: #0e084e;
    --secondary-color: #f8f4fb;
    --inverted-primary-color: #7c4996;
    --inverted-secondary-color: #0e084e;

    // skeleton
    --skeleton-shadow: #a63298;
    --skeleton-color: #3f0d38;
    --code-bg-color: #fccfd5;
}
