.app_purple_theme {
    --bg-color: #fbd4da;
    --inverted-bg-color: #54114b;
    --primary-color: #210a33;
    --secondary-color: #fbd4da;
    --inverted-primary-color: #7e2671;
    --inverted-secondary-color: #54114b;
}
